<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--  DBWatcher start  -->
    <bean id="realtimeDataChangeObserver" class="com.nie.monitor.impl.RealtimeDataChangeObserver"/>

    <bean id="observerServer" class="com.nie.monitor.impl.RealtimeObserverServer">
        <constructor-arg ref="realtimeDataChangeObserver"/>
    </bean>

    <bean id="DBWatcher" class="com.nie.service.dataLoad.DBWatcher" init-method="start">
        <constructor-arg index="0" name="server" ref="observerServer"/>
        <constructor-arg index="1" name="threadPoolNum" value="${dataWatcherThreadPoolNum}"/>
    </bean>
    <!--  DBWatcher end  -->

<!--  segmentWordsProcessor start  -->
    <bean id="defaultDic" class="com.nie.segment.dict.NewDictionary">
        <constructor-arg index="0">
            <null/>
        </constructor-arg>
        <constructor-arg index="1" value="true"/>
    </bean>
    <bean id="nieSegmenter" class="com.nie.segment.segmentor.NieSegmenter">
        <constructor-arg name="dictionary" ref="defaultDic"/>
    </bean>
    <bean id="segmentWordsProcessor" class="com.nie.service.realtime.processor.SegmentWordsProcessor">
        <constructor-arg name="nieSegmenter" ref="nieSegmenter"/>
    </bean>
    <!--  segmentWordsProcessor end  -->
</beans>